/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   */

   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed, 
   figure, figcaption, footer, header, hgroup, 
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
   	margin: 0;
   	padding: 0;
   	border: 0;
   	font-size: 100%;
   	font: inherit;
   	vertical-align: baseline;
   }
   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure, 
   footer, header, hgroup, menu, nav, section {
   	display: block;
   }
   body {
   	line-height: 1;
   }
   ol, ul {
   	list-style: none;
   }
   blockquote, q {
   	quotes: none;
   }
   blockquote:before, blockquote:after,
   q:before, q:after {
   	content: '';
   	content: none;
   }
   table {
   	border-collapse: collapse;
   	border-spacing: 0;
   }
/*
Game
*/
div {
   /*border: 1px solid #000000;*/
   width: 300px;
   height: 50px;
   margin: 0 0 0 -150px;
}
.comp{
   position: absolute;
}

#player-score{
   top: 25%;
   left:25%;
}
#history{
   top: 75%;
   left:50%;
}
#npc-score{
   top: 25%;
   left:75%;
}
#start-game{
   width: 200px;
   height: 80px;
   margin: -40px 0 0 -100px;
   top: 50%;
   left:50%;
   cursor: pointer;
}

#start-game button{
   position: relative;
   background:none;
   border:none; 
   padding:0;
   cursor: pointer;
}
#start-game button p{
  position: absolute;
  left: 0;
  top: 25%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}
#winner{
   top: 25%;
   left:50%;
}
.comp p{
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   width: 300px;
   height: 40px;
}

#background{
  position: absolute;
  top: 50%;
  left: 50%;  
   width: 600px;
   height: 600px;
   margin: -500px 0 0 -300px;
}